<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Effort.EF6" version="2.2.13" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net472" />
  <package id="NMemory" version="3.1.2" targetFramework="net472" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net472" />
</packages>